# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Python envs and caches
__pycache__/
*.pyc
.venv
env/
venv/

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS Files
.DS_Store
Thumbs.db